In [2]:
import pandas as pd
# pandas read csv
dfTest = pd.read_csv('example3.csv',encoding = 'utf-8')

In [4]:
dfTest.head()

   head1  breadth1  head2  breadth2 test
0    191       155    179       145  AAA
1    195       149    201       152  BBB
2    181       148    185       149  AAA
3    183       153    188       149  BBB
4    176       144    171       142  AAA

In [6]:
# pandas write csv
#dfTest.to_csv('C:/Data/test123.csv', sep='\t', encoding='utf-8')

In [12]:
# query dataframe column with column and row numbers
dfTest.iloc[:5,:4]

   head1  breadth1  head2  breadth2
0    191       155    179       145
1    195       149    201       152
2    181       148    185       149
3    183       153    188       149
4    176       144    171       142

In [13]:
# query dataframe column with column names
dfTest.loc[:5,["head1","breadth1","head2","breadth2"]]

   head1  breadth1  head2  breadth2
0    191       155    179       145
1    195       149    201       152
2    181       148    185       149
3    183       153    188       149
4    176       144    171       142
5    208       157    192       152

In [20]:
# query dataframe cells
print(dfTest.ix[0,0])
print(dfTest.ix[2,2])

191
185

In [22]:
#pip install sqlalchemy
#Bulk copy to DB
from sqlalchemy import create_engine

engine = create_engine('mysql+mysqlconnector:// root:0000 @localhost:3306/testdb', echo=False)
dfTest.to_sql(name='example', con=engine, if_exists = 'append', index=False)

In [28]:
dfTest2 = pd.read_sql_query('select * from example',con=engine)

In [35]:
dfTest2.head()

  head1 breadth1 head2 breadth2 test
0   191      155   179      145  AAA
1   195      149   201      152  BBB
2   181      148   185      149  AAA
3   183      153   188      149  BBB
4   176      144   171      142  AAA

In [33]:
#pip install pymongo
import pymongo
from pymongo import MongoClient
client = MongoClient()
client = MongoClient('localhost', 27017)
client = MongoClient('mongodb://localhost:27017/')
db = client.Test

dctTest = dfTest2.to_dict(orient='records')
result = db.example.insert_many(dctTest)
#result.inserted_ids

#post_id = db.example.insert_one(post).inserted_id
#post_id

In [38]:
result.inserted_ids[0:5]

[ObjectId('5904a760a5d8860d2871d262'),
 ObjectId('5904a760a5d8860d2871d263'),
 ObjectId('5904a760a5d8860d2871d264'),
 ObjectId('5904a760a5d8860d2871d265'),
 ObjectId('5904a760a5d8860d2871d266')]

In [46]:
#[x for x in db.example.find()]

#Examples here...
#http://api.mongodb.com/python/current/tutorial.html

In [51]:
from bson.objectid import ObjectId
test = db.example.find_one({"_id": ObjectId('5904a760a5d8860d2871d266')})
test

{'_id': ObjectId('5904a760a5d8860d2871d266'),
 'breadth1': '144',
 'breadth2': '142',
 'head1': '176',
 'head2': '171',
 'test': 'AAA'}